<%- include('../parials/header.ejs') -%>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <%- include('../parials/flash.ejs') -%>

    <h1 class='h2'>Login</h1>
    <hr/>
    <form role="form" action="/account/login" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name='email' id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"  placeholder="Password">
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Keep me logged in</label>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>

<%- include('../parials/footer.ejs') -%>
