<%- include('../parials/header.ejs') -%>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <h1 class='h2'>Create an account</h1>
    <hr/>
    <form role="form" action="/account/register" method="post">
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control <% if (locals.errors && errors.firstName) {%> is-invalid <%}%>"
                   <% if (locals.values  && values.firstName) { %>
                   value="<%= values.firstName %>"
                   <% } %>
                   name='firstName' id="firstName" aria-describedby="firstName" placeholder="First name">

            <% if (locals.errors && errors.firstName) { %>
              <div class="invalid-feedback">
                <%= errors.firstName.msg %>
              </div>
            <% } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control <% if (locals.errors && errors.lastName) {%> is-invalid <%}%>"
                   <% if (locals.values  && values.lastName) { %>
                   value="<%= values.lastName %>"
                   <% } %>
                   name='lastName' id="lastName" aria-describedby="lastName" placeholder="First name">
            <% if (locals.errors && errors.lastName) { %>
              <div class="invalid-feedback">
                <%= errors.lastName.msg %>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control <% if (locals.errors && errors.email) {%> is-invalid <%}%>"
                   <% if (locals.values  && values.email) { %>
                   value="<%= values.email %>"
                   <% } %>
                   name='email' id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <% if (locals.errors && errors.email) { %>
              <div class="invalid-feedback">
                <%= errors.email.msg %>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control <% if (locals.errors && errors.password) { %> is-invalid <% } %>"
                   id="password" name="password"  placeholder="Password">
            <% if (locals.errors && errors.password) { %>
              <div class="invalid-feedback">
                <%= errors.password.msg %>
              </div>
            <% } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="confirmedPassword">Confirm password</label>
            <input type="password" class="form-control <% if (locals.errors && !errors.password && errors.confirmedPassword) { %> is-invalid <% } %>"
                   id="confirmedPassword" name="confirmedPassword"  placeholder="Confirm password">
            <% if (locals.errors && errors.confirmedPassword) { %>
              <div class="invalid-feedback">
                <%= errors.confirmedPassword.msg %>
              </div>
            <%}%>
          </div>
        </div>
      </div>
      <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>

<%- include('../parials/footer.ejs') -%>
