<% if (locals.flashError && flashError.length > 0) { %>
  <% flashError.forEach(function(message) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% }); %>
<% } %>

<% if (locals.flashSuccess && flashSuccess.length > 0) { %>
  <% flashSuccess.forEach(function(message) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% }); %>
<% } %>

<% if (locals.flashWarning && flashWarning.length > 0) { %>
  <% flashWarning.forEach(function(message) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% }); %>
<% } %>

<% if (locals.flashInfo && flashInfo.length > 0) { %>
  <% flashInfo.forEach(function(message) { %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% }); %>
<% } %>
