<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>express-base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bundle.css" rel="stylesheet"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <svg class="i-home" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z"></path>
          </svg>
          Express-Base
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavBar"
                aria-controls="collapsedNavBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" >
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">
              <svg id="i-info" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M16 14 L16 23 M16 8 L16 10" />
                <circle cx="16" cy="16" r="14" />
              </svg>
              About
            </a>
            <% if (isAuthenticated) { %>
              <a class="nav-item nav-link" href="/">
                <svg id="i-user" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
                </svg>
                User Dashboard
              </a>
            <% } %>
          </div>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapsedNavBar">
          <div class="navbar-nav">
            <% if (!isAuthenticated) { %>
              <a class="nav-item nav-link <%= activeFor('/account/register') %>" href="/account/register">
                <svg id="i-menu" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
                </svg>
                Register
              </a>
              <a class="nav-item nav-link <%= activeFor('/account/login') %>" href="/account/login">
                <svg id="i-signin" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M3 16 L23 16 M15 8 L23 16 15 24 M21 4 L29 4 29 28 21 28" />
                </svg>
                Login
              </a>
            <% } else { %>
              <a class="nav-item nav-link" href="/account/manage/info">
                <svg id="i-settings" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M13 2 L13 6 11 7 8 4 4 8 7 11 6 13 2 13 2 19 6 19 7 21 4
                           24 8 28 11 25 13 26 13 30 19 30 19 26 21 25 24 28 28 24 25 21 26 19 30 19 30 13 26 13 25 11 28 8 24 4 21 7 19 6 19 2 Z" />
                  <circle cx="16" cy="16" r="4" />
                </svg>
                Your account
              </a>
              <form class="form-inline my-2 my-lg-0" action="/account/logout" method="post">
                <button class="btn btn-link nav-link my-2 my-sm-0" type="submit">
                  <svg id="i-signout" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
                  </svg>
                  Logout
                </button>
              </form>
            <%  } %>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-10">
