@import '~bootstrap/scss/bootstrap';

svg {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-self: center;
  position: relative;
  bottom: -2px;
}

.navbar {
  border-bottom: 1px solid #eee;
}

.nav-wrapper {
  padding-right: 2em;
  border-right: 1px solid #eee;
}

.nav .nav-link {
  color: $gray-900;
  &.active {
    background: $gray-200;
  }
}
