<%- include('../../parials/header.ejs') -%>
<h1 class="h2">Account Settings</h1>
<p class="text-secondary">Manage your account settings and change your login information.</p>

<div class="row mt-4">
  <div class="col-md-4">
    <%- include('nav.ejs') -%>
  </div>
  <div class="col-md-8">
    <form role="form" action="/account/change-password" method="post">
      <div class="form-group">
        <label for="oldPassword">Old password</label>
        <input type="password" class="form-control" id="old-password" name="oldPassword"  placeholder="Old password">
      </div>
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword"  placeholder="New password">
      </div>
      <div class="form-group">
        <label for="confirmedPassword">Confirm new password</label>
        <input type="password" class="form-control" id="confirmedPassword" name="confirmedPassword"  placeholder="Confirm new password">
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn btn-primary">Update Email</button>
      </div>
    </form>
  </div>
</div>

<%- include('../../parials/footer.ejs') -%>
