<%- include('../../parials/header.ejs') -%>
<h1 class="h2">Account Settings</h1>
<p class="text-secondary">Manage your account settings and change your login information.</p>

<div class="row mt-4">
  <div class="col-md-4">
    <%- include('nav.ejs') -%>
  </div>
  <div class="col-md-8">
    <form role="form" action="/account/manage/change-email" method="post">
      <div class="form-group">
        <label for="email">New email address</label>
        <input type="email" class="form-control  <% if (locals.errors && errors.email) {%> is-invalid <%}%>" 
               <% if (locals.values  && values.email) { %>
               value="<%= values.email %>"
               <% } %>
               name='email' id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <% if (locals.errors && errors.email) { %>
          <div class="invalid-feedback">
            <%= errors.email.msg %>
          </div>
        <% } %>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control  <% if (locals.errors && errors.password) {%> is-invalid <%}%>" 
               id="password" name="password"  placeholder="Password">
        <% if (locals.errors && errors.password) { %>
          <div class="invalid-feedback">
            <%= errors.password.msg %>
          </div>
        <% } %>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn btn-primary">Update Email</button>
      </div>
    </form>
  </div>
</div>

<%- include('../../parials/footer.ejs') -%>

