<%- include('../../parials/header.ejs') -%>
<%- include('../../parials/flash.ejs') -%>
<h1 class="h2">Account Settings</h1>
<p class="text-secondary">Manage your account settings and change your login information.</p>

<div class="row mt-4">
  <div class="col-md-4">
    <%- include('nav.ejs') -%>
  </div>
  <div class="col-md-8">
    <table class="table table-bordered">
      <tr>
        <th class="bg-light" scope="col">Full name</th>
        <td scope="row"><%= user.lastName%> <%= user.firstName %></td>
      </tr>
      <tr>
        <th class="bg-light" scope="col">Email address</th>
        <td scope="row"><a href="<%= user.email%>"><%= user.email%></a></td>
      </tr>
    </table>
  </div>
</div>

<%- include('../../parials/footer.ejs') -%>
