<div class="nav-wrapper">
  <ul class="nav flex-column nav-light">
    <li class="nav-item">
      <a class="nav-link <%= activeFor('/account/manage/info') %>" href="/account/manage/info">Account information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= activeFor('/account/manage/change-email') %>" href="/account/manage/change-email">Change email address</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= activeFor('/account/manage/change-password') %>" href="/account/manage/change-password">Change password</a>
    </li>
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0" action="/account/logout" method="post">
        <button class="btn btn-link nav-link my-2 my-sm-0" type="submit">
          Logout
        </button>
      </form>
    </li>
  </ul>
</div>
